body {
    background: rgb(32, 82, 58);
    text-align: center;
}

ul {
    text-align: center;
}

p {
    background-color: white;
    border: solid black;
    margin-right: 100px;
    margin-left: 100px;
}